<% content_for :title do %>  <title>BKDG: Editing Profile for <%= @user.username %></title> <% end %>
<%= stylesheet_link_tag 'usernew' %>
<% content_for :uppermenu do %>

  	<div id ="userHeader">
		<div id='headerContainer'>
			
			<div id='bkdgTitle'>
				<%= image_tag('logo.png') %>
			</div>
				
			<div id='bkdgHeaderControlPanel'>
				
				<div id='joinNow'>
					<div id='joinNowText'>
						<%= link_to 'JOIN NOW!', new_user_path %>
					</div>
				</div>
				
				<div id='UserControls'>
					
					<div id='loginlogout'>
						<% if current_user %>
							<%= link_to "#{current_user.username} (#{current_user.points})", user_path(current_user) %> |
							<span><%= link_to 'logout', logout_path %></span> |
						<% else %>
							<%= link_to 'login', login_path %> |
							<%= link_to 'signup', new_user_path %> |
						<% end %>
						<span><%= link_to 'about', { :action => "about"} %></span> |
						<span><%= link_to 'faq', { :controller => 'shows', :action => "faq"} %></span>
					</div>
					
					<div id='searchBar'>
						<% form_tag( {:controller => "shows", :action => "search"}, {:method => "get"}) do %>  
						    <div style="margin:3px;padding3px;">
							<%= text_field_tag(:q, "search for shows, bands, venues", {:class => "textbox"}) %>
							</div>  
						<% end %>
					</div>
				</div> <!-- UserControls -->
					
			</div> <!-- bkdgHeaderControlPanel -->
			
			<div id='bkdgHeaderPostAShowContainer'>
				<div id='bkdgHeaderPostAShow'>
					<%= link_to image_tag('postashow.png'), new_show_path, {:id => "postashowbutton"} %>
				</div>
				
				<div id='bkdgHeaderHomeMyShowsUsers'>
					<div class='Dark'><%= link_to 'home', { :controller => 'shows', :action => "index"} %></div>
					<div class='Pink'><%= link_to 'my shows', { :action => "index"} %></div>
					<div class='Dark'><%= link_to 'users', { :controller => 'users', :action => "index"} %></div>
				</div>
			</div>
			
			
		</div> <!-- header container -->
	
	</div> <!-- userHeader -->

<% end %>

<div id = "mainbar-full">

	<div id = "showsHeader">
		<h3>Editing Profile for <%=h @user.username %></h3>
	</div>

	<% form_for(@user) do |f| %>
	  <%= f.error_messages %>

	  <br />
	  <p>
	    <%= f.label :username %><br />
	    <%= f.text_field :username %>
	  </p>
	<p>
	    <%= f.label :name %><br />
	    <%= f.text_field :name %>
	  </p>

	 <p>
	    <%= f.label :website %><br />
	    <%= f.text_field :website %>
	  </p>
	
	  <p>
	    <%= f.label :location %><br />
	    <%= f.text_field :location %>
	  </p>

	  <p>
	    <%= f.label :age %><br />
	    <%= f.text_field :age %>
	  </p>
	<br />
	
	  <p>
	    <%= f.submit "Update" %>
	  </p>
	<br />
	<% end %>

	<%= link_to 'Back To User Profile', @user %>
</div>
