<h1>Editing user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>

 <p>
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </p>

  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>

  <p>
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
