<div class = "newuser-form">

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <fieldset>
  <legend> Enter User Details</legend>

  <p>
    <%= f.label :email, 'E-Mail' %><br />
    <%= f.text_field :email , :size => 40%>
  </p>
  <p>
    <%= f.label :username, 'Username' %><br />
    <%= f.text_field :username , :size => 40%>
  </p>
  <p>
    <%= f.label :password, 'Password' %><br />
    <%= f.password_field :password, :size => 40 %>
  </p>
  <p>
    <%= f.label :password_confirmation, 'Confirm' %><br />
    <%= f.password_field :password_confirmation, :size => 40 %>
  </p>
  <p>
    <%= f.submit "Create Account", :class => "submit" %>
  </p>

</fieldset>
<% end %>

<%= link_to 'Back', users_path %>
