<%= stylesheet_link_tag 'usernew' %>
<% content_for :title do %>  <title>BKDG: Create A New User</title> <% end %> 

<% form_for(@user) do |f| %>
  <div class='errorForm'><%= f.error_messages %></div>

<div class = "newUserForm">

  <div class='EnterUserDetails'> Create A New User</div>

	<div class='Email'>
		<span class='EmailLabel'><label for="name">E-Mail</label></span>
		<span><%= f.text_field :email %></span>
	</div>
	
	<div class='Username'>
		<span class='UsernameLabel'><label for="password">Username </label></span>
		<span><%= f.text_field :username %></span>
	</div>
	
	<div class='Password'>
		<span class='PasswordLabel'><label for="name">Password</label></span>
		<span><%= f.password_field :password %></span>
	</div>
	
	<div class='Password'>
		<span class='PasswordLabel'><label for="password">Confirm</label></span>
		<span><%= f.password_field :password_confirmation %></span>
	</div>
	
  <p>
    <%= f.submit "Create Account", :class => "submit" %>
  </p>

</div>
<% end %>
