<%= javascript_include_tag :defaults, 'jquery-1.4', "application", 'jquery-ui.min', 'jquery-effects-explode'%>
<% content_for :title do %>  <title>BKDG: User Profile for <%= @user.username %></title> <% end %>
<%= stylesheet_link_tag 'usernew' %>

<% content_for :uppermenu do %>

  	<div id ="userHeader">
		
		<div id='headerContainer'>
			
			<div id='bkdgTitle'>
				<%= image_tag('logo.png') %>
			</div>
				
			<div id='bkdgHeaderControlPanel'>
				
				<div id='joinNow'>
					<div id='joinNowText'>
						<%= link_to 'JOIN NOW!', new_user_path %>
					</div>
				</div>
				
				<div id='UserControls'>
					
					<div id='loginlogout'>
						<% if current_user %>
							<%= link_to "#{current_user.username} (#{current_user.points})", user_path(current_user) %> |
							<span><%= link_to 'logout', logout_path %></span> |
						<% else %>
							<%= link_to 'login', login_path %> |
							<%= link_to 'signup', new_user_path %> |
						<% end %>
						<span><%= link_to 'about', { :action => "about"} %></span> |
						<span><%= link_to 'faq', { :controller => 'shows', :action => "faq"} %></span>
					</div>
					
					<div id='searchBar'>
						<% form_tag( {:controller => "shows", :action => "search"}, {:method => "get"}) do %>  
						    <div style="margin:3px;padding3px;">
							<%= text_field_tag(:q, "search for shows, bands, venues", {:class => "textbox"}) %>
							</div>  
						<% end %>
					</div>
				</div> <!-- UserControls -->
					
			</div> <!-- bkdgHeaderControlPanel -->
			
			<div id='bkdgHeaderPostAShowContainer'>
				<div id='bkdgHeaderPostAShow'>
					<%= link_to image_tag('postashow.png'), new_show_path, {:id => "postashowbutton"} %>
				</div>
				
				<div id='bkdgHeaderHomeMyShowsUsers'>
					<div class='Dark'><%= link_to 'home', { :controller => 'shows', :action => "index"} %></div>
					<div class='Pink'><%= link_to 'my shows', { :action => "index"} %></div>
					<div class='Dark'><%= link_to 'users', { :controller => 'users', :action => "index"} %></div>
				</div>
			</div>
			
			
		</div> <!-- header container -->
	
	</div> <!-- userHeader -->


<% end %>

<div id = "mainbar-full">
	
	<div id = "showsHeader">
		<h3>User Profile for <%=h @user.username %></h3>
		
	</div>

	<div class='userContainer'>
		
		<div class='userImage'>
			<%= image_tag @user.gravatar_url(:size => 250) %>
			<% if (@currentUserViewing) then%>
				<a href = "http://en.gravatar.com/">Change Picture</a>
			<% end %>
		</div>
		
		<div class='userInformation'>
			
			<div style='width:100%;height:180px;'>
				<table>
					<tr>
						<td class='Category'>Username<td>
						<td><%=h @user.username %></td>
					</tr>
					<% if @user.name != nil && @user.name != "" %>
						<tr>
							<td class='Category'>Name<td>
							<td><%= @user.name %></td>
						</tr>
					<% end %>
					<% if @user.website != nil && @user.website != "" %>
						<tr>
							<td class='Category'>Website<td>
							<td><a href = "<%=h @user.website %>"><%=h @user.website %></a></td>
						</tr>
					<% end %>
					<% if @user.location != nil && @user.location != "" %>
						<tr>
							<td class='Category'>Location<td>
							<td><%=h @user.location %></td>
						</tr>
					<% end %>
					<% if @user.age != nil && @user.age != "" %>
						<tr>
							<td class='Category'>Age<td>
							<td><%=h @user.age %></td>
						</tr>
					<%end %>
					<% if @user.points != nil && @user.points != "" %>
						<tr>
							<td class='Category'>Reputation<td>
							<td><%=h @user.points %></td>
						</tr>
					<% end %>
					<% if @user.shows_posted != nil && @user.shows_posted != "" %>
						<tr>
							<td class='Category'>Shows Posted<td>
							<td><%=h @user.shows_posted %></td>
						</tr>
					<% end %>
				</table>
			</div>
			
			<div class='userControls'>
				<% if (@currentUserViewing) then%>
					<%= link_to 'Change/Add Profile Information', edit_user_path(@user) %>
				<% end %>
			</div>
			
		</div>
		
	</div>
		
		<div id = "usersShowsHeader">
			<% if (@sortBy == "posted") then %>
				<h3>Shows Posted </h3>
			<% elsif @sortBy == "attended" %>
				 <h3>Shows Attended </h3>
			<% else %>
				<h3>Shows Attending </h3>
			<% end %>
			
			<div id="tabs">
		        
				<%= link_to 'attended', { :action => "show", :id => @user, :sort_by => "attended" } ,
							 				{:class => attending_attended_posted?(@sortBy, "attended") }%>
											<%= link_to 'attending', { :action => "show", :id => @user, :sort_by => "attending"}, 
													{:class => attending_attended_posted?(@sortBy, "attending") }  %>
		   		<%= link_to 'posted', { :action => "show", :id => @user, :sort_by => "posted" } , {:class => attending_attended_posted?(@sortBy, "posted") }%>
				
			</div>
		</div>
		
		<div id = "shows">

				<% for show in @userShows %>
					<div id="single-show" class='single-show' showID='<%= show.id %>'>
							<% if firstShowOnDate(@previousDate, show) %>
								<div class ="show-date">
									<div style='float:left'>
										<h2><%=h show.date.strftime("%A, %b %e %Y") %></h2>
									</div>
									<% if @sortBy != "posted"%>
										<div class='daysAway'>
											<h2><%=h days_away_helper(show.date, show.time) + " " + away_or_ago_helper(show.date, show.time)%></h2>
										</div>
									<% end %>
								</div>
							<% end %>
							<% @previousDate = show.date %>
						
							<div class="show-summary" id="show-summary-<%= show.id %>">
						
							<div>

								<div class="attendingcontainer">
									<div class="attending" id="attending-id-<%= show.id %>">
										<%= render(:partial => "number_attending", :object => show.attending)%>
									</div>
									<div class="attendingword" id="attending-word-<%= show.id %>">Attending</div> 
							    </div>

								<div class="commentcontainer">
									<div class="comment">
											<span class="comment-counts">
												<<%= comment_counts_helper(0) %>><%= show.comments.count %></<%= comment_counts_helper(0) %>>
											</span>
						            </div>
									<div class="attendingword">Comments</div>
					        	</div>

							</div>
						
							<div>
								<div class="headliner">
									<div class="headliner-name"><%=link_to populate_headliner(show), :controller => 'shows', :action => 'show', :id => show %></div>
									<div class="openers">
										<% if (show.bands.count > 1)%>
											<%= populate_openers(show) %>
										<% else %>
											<%= link_to 'Add Openers', edit_show_path(show, :highlight => "bands") %>
										<% end %>
									</div>
									<div class="attend-recommend">
										<% if (@current_user.id == @user.id) && (@sortBy == "attending" || @sortBy == nil)%>
											<%= link_to_remote 'Remove this show »', {
										   		:url => { :action => "remove_show_from_attending", :id => show.id, :user_id => @current_user.id } }, 
													:class => "attendincrement", :title => "Click to no longer attend this show" %>
										<% end %>
									</div>
								</div>
							</div>
						
							<div>
								<div class="venue">
									<div class="venue-name"><%= link_to capitalize_first_letter_of_each_word(show.venue.name), show.venue %></div>
								    <div class="date-time-price">
										<%= render(:partial => "display_date_time_price", :locals => { :show => show }) %>
									</div>

								</div>
							</div>
						
							</div>
							
					</div>
				<% end %>
				<br /><br />
			
		<div id="sidebar">  
		</div>
		
		</div> <!-- shows -->
</div><!-- mainBar Full -->
