<% content_for :title do %>  <title>BKDG: Editing <%= capitalize_first_letter_of_each_word(@venue.name) %></title> <% end %>
<h1>Editing venue</h1>

<% form_for(@venue) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @venue %> |
<%= link_to 'Back', venues_path %>
