<%= stylesheet_link_tag 'venuenew' %>
<div id="mainbar-full">

<div id='subheader'>
	<h3>Create a Venue in <%= @userCity %>, <%= @userState %></h3>
</div><br/>

<% form_for(@venue) do |f| %>
  <%= f.error_messages %>

  <p>
  	<div class='NewVenueElement'>
	    <%= f.label :name, 'Name Of Venue' %><br />
	    <%= f.text_field :name , :size => 25 %>
	</div>
  </p><br />

  <p>
  	<div class='NewVenueElement'>
	    <%= f.label :address, 'Address' %><br />
	    <%= f.text_field :address , :size => 25 %>
	 </div>
  </p><br />

  <p>
  	<div class='NewVenueElement'>
	    <%= f.label :website, 'Website' %><br />
	    <%= f.text_field :website, :size => 25 %>
	  </div>
  </p><br />

  <p>
  	<div class='NewVenueElement'>
	    <%= f.label :phone, 'Phone' %><br />
	    <%= f.text_field :phone, :size => 13 %>
	 </div>
  </p><br />	

  <div>
    <%= f.submit "Create A Venue", :class =>"create_a_venue" %>
  </div>
<% end %>

</div>
