<%= stylesheet_link_tag 'venue' %>
<div id="mainbar-full">
	
	<div id = "subheader">
		<b><h3><%= capitalize_first_letter_of_each_word(@venue.name) %> in <%= capitalize_first_letter_of_each_word(@venueLocation.city) %>, 
			<%= capitalize_first_letter_of_each_word(@venueLocation.state) %>
		 </h3></b>
	</div>
	
	<div class='venueContent'>
		<div class='venueMap'>
			<img src="<%= @venueMapLink%>">
		</div>
		<div class='venueInformation'>
			<div id='venueName'><%= capitalize_first_letter_of_each_word(@venue.name) %></div>
			<div id='venueAddress'>
				<div>
					<% if @venue.address != nil%>
						<%= @venue.address %>
					<% else %>
						(This Venue's Location Is A Secret)
					<% end %>
				</div>
				<div>
					<%= @venue.location.city %>, <%=@venue.location.state %><br />
				</div>
			</div>
			<div id='venueWebsite'>
				<% if @venue.website != nil %>
					<%= @venue.website %>
				<% else %>
					<%= link_to "Add A Website", edit_venue_path(@venue) %>
				<% end %>
			</div>
			<div id='venuePhoneNumber'>
				<% if @venue.phone != nil %>
					<%= @venue.phone %>
				<% else %>
					<%= link_to "Add A Phone Number", edit_venue_path(@venue) %>
				<% end %>
			</div>
			<div id='controls'>
				<%= link_to 'Edit', edit_venue_path(@venue) %> 
			</div>
			
		</div>
	</div>

	<div id = "subheader">
		<b><h3><%= @venue.shows.count %> Upcoming Shows</h3></b>
	</div>
	
	<div id="single-show">
	<% for show in @venue.shows %>
				<div class ="show-date">
					<h2><%=h show.date.strftime("%A, %b %e %Y") %></h2>
				</div>
	<% end %>



</div>
