<%= stylesheet_link_tag 'venue' %>
<div id="mainbar-full">
	
	<div id = "subheader">
		<b><h3><%= capitalize_first_letter_of_each_word(@venue.name) %> in <%= capitalize_first_letter_of_each_word(@venueLocation.city) %>, 
			<%= capitalize_first_letter_of_each_word(@venueLocation.state) %>
		 </h3></b>
	</div>
	
	<div class='venueContent'>
		<div class='venueMap'>
			<img src="<%= @venueMapLink%>">
		</div>
		<div class='venueInformation'>
			<div id='venueName'><%= capitalize_first_letter_of_each_word(@venue.name) %></div>
			<div id='venueAddress'>
				<%= @venue.address %><br />
				<%= @venue.location.city %>, <%=@venue.location.state %><br />
			</div>
			<div id='website'>
				<% if @venue.website != nil %>
					<%= @venue.website %>
				<% else %>
					<%= link_to "Add A Website", edit_venue_path(@venue) %>
				<% end %>
			</div>
			<div id='phoneNumber'>
			</div>
			<div id='controls'>
				<%= link_to 'Edit', edit_venue_path(@venue) %> 
			</div>
			
		</div>
	</div>



</div>
