<% content_for :title do %>  <title>BKDG: Editing Profile of <%=capitalize_first_letter_of_each_word(@band.band_name) %></title> <% end %>
<h1>Editing band</h1>

<% form_for(@band) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @band %> |
<%= link_to 'Back', bands_path %>