<% content_for :title do %>  <title>BKDG: Editing Profile of <%=capitalize_first_letter_of_each_word(@band.band_name) %></title> <% end %>
<div id = "mainbar-full">

	<div id = "subheader">
		<h3>Editing Information for <%=h capitalize_first_letter_of_each_word(@band.band_name) %></h3>
	</div>

	<% form_for(@band) do |f| %>
	  <%= f.error_messages %>

	  <br />
	  <p>
	    <%= f.label :hometown %><br />
	    <%= f.text_field :hometown %>
	  </p>

	 <p>
	    <%= f.label :website %><br />
	    <%= f.text_field :website %>
	  </p>
	
	  <p>
	    <%= f.label :twitter %><br />
	    <%= f.text_field :twitter %>
	  </p>

	<br />
	
	  <p>
	    <%= f.submit "Update" %>
	  </p>
	<br />
	<% end %>

	<%= link_to 'Back To Band Profile', @band %>
</div>