<% content_for :title do %>  
	<title>BKDG: Editing <%=capitalize_first_letter_of_each_word(@show.bands.at(0).band_name) %> at  <%=capitalize_first_letter_of_each_word(@show.venue.name) %></title> <% end %>
	
<% content_for :wmd do %>

	<script type="text/javascript">
				// to set WMD's options programatically, define a "wmd_options" object with whatever settings
				// you want to override.  Here are the defaults:
		      wmd_options = {
					// format sent to the server.  Use "Markdown" to return the markdown source.
					output: "HTML",

					// line wrapping length for lists, blockquotes, etc.
					lineLength: 40,

					// toolbar buttons.  Undo and redo get appended automatically.
					buttons: "bold italic | link ",

					// option to automatically add WMD to the first textarea found.  See apiExample.html for usage.
					autostart: true
				};
	</script>
	<script type="text/javascript" src="/javascripts/wmd/wmd.js"></script>
		
<% end %>
<script type="text/javascript" src="/javascripts/newShow.js"></script>
<%= stylesheet_link_tag 'showsnew', 'styles' %>
<div id="mainbar-full">
	
<%
		#populate the text on the band input boxes if they exist
		band1txt, band2txt, band3txt, band4txt, band5txt, band6txt, band7txt, band8txt, band9txt, band10txt = ""
		if(!@band_array.nil?) then
			band1txt = capitalize_first_letter_of_each_word(@band_array.at(0).band_name) if @band_array.at(0) != nil
			band2txt = capitalize_first_letter_of_each_word(@band_array.at(1).band_name) if @band_array.at(1) != nil
			band3txt = capitalize_first_letter_of_each_word(@band_array.at(2).band_name) if @band_array.at(2) != nil
			band4txt = capitalize_first_letter_of_each_word(@band_array.at(3).band_name) if @band_array.at(3) != nil
			band5txt = capitalize_first_letter_of_each_word(@band_array.at(4).band_name) if @band_array.at(4) != nil
			band6txt = capitalize_first_letter_of_each_word(@band_array.at(5).band_name) if @band_array.at(5) != nil
			band7txt = capitalize_first_letter_of_each_word(@band_array.at(6).band_name) if @band_array.at(6) != nil
			band8txt = capitalize_first_letter_of_each_word(@band_array.at(7).band_name) if @band_array.at(7) != nil
			band9txt = capitalize_first_letter_of_each_word(@band_array.at(8).band_name) if @band_array.at(8) != nil
			band10txt = capitalize_first_letter_of_each_word(@band_array.at(9).band_name) if @band_array.at(9) != nil
			
		end

		#populate the venue text if it exists
		nameOfVenue = ""
		if(!@venueName.nil?) then
			nameOfVenue = capitalize_first_letter_of_each_word(@venueName)
		end	
%>

<div style='display:hidden;' id='highlight' value=<%= @highlight %> >

<div id='subheader'>
	<h3>Editing <%=h band1txt %> @ <%=h capitalize_first_letter_of_each_word(@show.venue.name) %> </h3>
</div><br/>

<% form_for(@show) do |f| %>

	<% if @show.errors.size > 0 then %>
			<%= render(:partial => "display_errors", :object => @show)%>
   <% end %>

  <div id='BandsContainer'>
  	<div id='BandHeader'>Bands</div>
 	 <div class='Bands'><%= text_field_tag :band1,  band1txt %><span class='AddABand'><a>Add Another Band</a></span><div class='Caption'>Who's Playing?</div></div>
	  <div class='Bands'><%= text_field_tag :band2, band2txt %></div>
	  <div class='Bands'><%= text_field_tag :band3, band3txt %></div>
	  <div class='Bands'><%= text_field_tag :band4, band4txt %></div>
	  <div class='Bands'><%= text_field_tag :band5, band5txt %></div>
	  <div class='Bands'><%= text_field_tag :band6, band6txt %></div>
	  <div class='Bands'><%= text_field_tag :band7, band7txt %></div>
	  <div class='Bands'><%= text_field_tag :band8, band8txt %></div>
	  <div class='Bands'><%= text_field_tag :band9, band9txt %></div>
	  <div class='Bands'><%= text_field_tag :band10, band10txt %></div>
  </div>

  <p><br/>
	<div id = 'VenueContainer'>
   		Venue <br />
    	<%= text_field_tag :name_of_venue, nameOfVenue %>
		<div class='CaptionVenue'>Where at?</div>
		<%= observe_field :name_of_venue, :url => { :action => :venue_changed}, :with => "'venueName=' +encodeURIComponent(value)" %>
	</div>
   </p><br/>
	<p>
	   <div id='DateContainer'>
	   	 	<%= f.label :date %><br />
		    <%= f.date_select(:date, :order => [:month, :day, :year]) %>
		<div class='Caption'>When?  I don't want to miss it.</div>
		</div>
	 </p><br/>

	<p>
	<div id='PriceContainer'>
	<%= f.label :price, "Price", :class=>"PriceLabel"%><br />
	<%= f.select :price_option, Show::PRICE_OPTIONS, :prompt => "Choose A Pricing Option" %>
	<div class='Caption'>How Much?</div>
	    <div class='DoorTicketPrice'>
			<div><span class='moneySign'>$</span><%= f.text_field :advanceprice, :size => 3, :value => format_price_label(@show, @show.advanceprice) %> in advance </div>
			<div class='CaptionSmall'>Specify an Advanced Price OR a Door Price OR Both</div>
		</div>
		<div class='AdvanceTicketPrice'><span class='moneySign'>$</span><%= f.text_field :price, :size => 3, :value => format_price_label(@show, @show.price) %> at the door</div>
	</div>
	</p><br/>

	
	
	 <p>
	   <div id='DoorContainer'>
		<%= f.label :Doors_at %><br />
		<%= f.select :time, Show::SHOW_TIMES, :prompt => "Choose A Show Time"%>
		<div class='CaptionDoors'>When are the doors opening?</div>
		</div>
	  </p><br/>

	  <p>
		<div id='AgeContainer'>
			<span id='ageLabel'>Who's allowed in?</span><br />
			<span id='21plus'><%= radio_button "show", "allowed_in", "21+", options = { :checked => true }%>&nbsp;21+ &nbsp;</span>
			<span id='AllAges'><%= radio_button "show", "allowed_in", "All Ages"%>&nbsp;All Ages &nbsp;</span>
			<span id='AllAges'><%= radio_button "show", "allowed_in", "UNKNOWN"%>&nbsp;I Don't Know &nbsp;</span>
			<div class='CaptionAge'>Age Restrictions?</div>
		</div>
	  </p><br/>
	
	   <div id='DescriptionContainer'>
			<span id='descriptionLabel'>Show Description</span>
			<br />
			    <%= f.text_area :additional_info, :rows => 5, :cols => 90, :class =>"resizable" %><br /><br />
				<div class="wmd-preview" style='width:450px;'></div><br>
			<br />
	  </div>
		
    <%= f.submit "Save Edits", :class =>"post_a_show" %>
  </p>
<% end %>

<!-- <%= link_to 'Show', @show %> |
<%= link_to 'Back', shows_path %> -->

</div>