var $j = jQuery.noConflict();

var attending_show_already  = '<%= @attending_show_already %>';
var attending_show_id       = '<%= @current_show.id.to_s %>'

$j(document).ready(function()
{

	if(attending_show_already == "true")
	{
  
	  $j("#attendincrement").html("Click To Attend This Show »");
	  $j("#attending-id-" + attending_show_id).html('<%= escape_javascript(render(:partial => "number_attending", :locals => { :number_attending => @current_show.attending }))%>');
	  $j("#show-summary-" + attending_show_id).find(".attendingsymbol").fadeOut(function(){ $(this).remove(); });
	
	}else{
		
		$j('<%= escape_javascript(render(:partial => "notice_show_attending", :locals => { :show => @current_show }))%>').insertBefore('#header');
  		$j("#notice")
			.css("display", "none")
			.fadeIn("slow");
			
		$j("#attendincrement").html("Remove This Show From My List »");
		$j("#attending-id-" + attending_show_id).html('<%= escape_javascript(render(:partial => "number_attending", :locals => { :number_attending => @current_show.attending }))%>');
		$j("#show-summary-" + attending_show_id).find(".headliner-name").append("<div class='attendingsymbol' title='attending!' style='display:none;'>A</div>").find(".attendingsymbol").fadeIn();
		
			
		setTimeout(function() { $j('#notice').fadeOut("slow", function(){  $j(this).remove(); }) }, 3000);
		
		
	}
	
});



