<% content_for :title do %>  <title>BKDG: Shows In <%= capitalize_first_letter_of_each_word(@location.city) %> </title> <% end %> 
<script type="text/javascript" src="/javascripts/jquery-ui-1.8rc1.custom.min.js"></script>

<div id = "mainbar-full">
	
		<% if @shows.length > 10 then %>
			<div id="sidebar">  
				  <div class ="countModule">
					<div style='color:#808185; font-size:450%;font-style:900;text-align:center;'><%= @allShows.length %></div>
					<div style='color:#444444; font-size:80%;text-align:center;'>upcoming shows in <%= capitalize_first_letter_of_each_word(@location.city) %></div>
				  </div>
				
				<div class ="countModule">
					<div style='color:#808185; font-size:450%;font-style:900;text-align:center;'><%= @allAgesShows.length %></div>
					<div style='color:#444444; font-size:80%;text-align:center;'>all ages shows</div>
				  </div>
		
				<div class ="module">
						<img src ="http://www.americanapparel.net/presscenter/webads/samples/bigs/His%20&%20Hers/american-apparel-webad-hisandhershoodies-0809.jpg">
				  </div>
				  <div class = "module">
					<img src = "http://www.americanapparel.net/presscenter/webads/samples/bigs/Tie%20Dye/160x600_tie_dye_2_083109.jpg">
				  </div>
			</div>
		<% end %>

	<div id ="showsMainHeader">
		<div class='location'>
			<div class='city'>Shows in <%= capitalize_first_letter_of_each_word(@location.city) %></div>
			<div class='changeLocation'><%= link_to 'Change Location', :controller => 'locations', :action => 'index' %></div>
		</div>
	</div>
	
	<% if (@shows.length == 0) then %>
		<div id='ShowErrorContainer' class='ShowErrorExplanation'>
			No Shows are posted yet in <b><%= capitalize_first_letter_of_each_word(@location.city)%>, 
				<%= capitalize_first_letter_of_each_word(@location.state)%>.</b><br/>
			Help us out? <%= link_to 'Post A Show plz?', :action => 'new'%>
		</div>
	
	<% end %>


	<div id = "shows" style='float:left;width:715px;'>

	
		<% for show in @shows %>
			<div id="single-show">
				<% if firstShowOnDate(@previousDate, show) %>
					<div class ="show-date">
						<div style='float:left'>
							<h2><%=h show.date.strftime("%A, %b %e %Y") %></h2>
						</div>
					</div>
				<% end %>
				<% @previousDate = show.date %>
				<div class="<%= attending_highlight_helper(@current_user, @shows_that_user_is_attending, show) %>" id="show-summary-<%= show.id %>">
				
	    			<div>
				
						<div class="attendingcontainer">
							<div class="attending" id="attending-id-<%= show.id %>">
								<%= render(:partial => "number_attending", :object => show.attending)%>
							</div>
							<div class="attendingword" id="attending-word-<%= show.id %>">Attending</div> 
					    </div>
				
						<div class="commentcontainer">
							<div class="comment">
									<span class="comment-counts">
										<<%= comment_counts_helper(0) %>><%= show.comments.count %></<%= comment_counts_helper(0) %>>
									</span>
				            </div>
							<div class="attendingword">Comments</div>
			        	</div>
		
					</div>
	
					<div>
						<div class="headliner">
							<div class="headliner-name"><%=link_to populate_headliner(show), :action => 'show', :id => show %>
							</div>
							<div class="openers">
								<% if (show.bands.count > 1)%>
									<%= populate_openers(show) %>
								<% else %>
									<% if @current_user %>
										<%= link_to 'Add Opening Bands »', edit_show_path(show, :highlight => "bands") %>
									<% else %>
										    <%= link_to_remote "Add Opening Bands »", {} ,  :class => "addOpenersError" %>
									<% end %>
								<% end %>
							</div>
							<div class="attend-recommend">
								<% if @current_user %>
										<div class='friendsAttendingContainer' id='friendsAttendingContainer-<%= show.id %>'>
											<%= render(:partial => "number_of_friends_attending", :locals => {:show => show, :current_user => @current_user })%>
										</div>
										<div class ='attendBackoutContainer' id='attendBackoutContainer-<%= show.id %>'>
											<%= render(:partial => "attend_backout", :locals => {:show => show, :current_user => @current_user, 
												:friends_attending => @i, :youAreAttending => @youAreAtteding})%>
										</div>
								<% else %>
								    <%= link_to_remote "Attend »", {
								   		:url => { :action => "need_to_be_logged_in", :id => show.id }}, :class => "attenderror" %>
								<% end %>
							</div>
					 
						</div>
					</div>
		
					<div class="venue">
						<div class="venue-name"><%= link_to capitalize_first_letter_of_each_word(show.venue.name), show.venue %></div>
					    <div class="date-time-price">
							<%= render(:partial => "display_date_time_price", :locals => { :show => show }) %>
						</div>
						
					</div>
				</div>

				
			</span>
		</div>
		<% end %>
		<div style='float:left;width:715px;'>
			<%= will_paginate @shows, :page_links => false, :class => 'showsBottomPagination' %>
		</div>
		
			
		<br /><br />
		
	
	</div>
	

	<div style='text-align:center;float:left;margin-left:250px;margin-bottom:30px; margin-top:20px;'>
		<div>
			Suggestions?  Comments? Brilliant Ideas?
		</div>
		<div>
			Submit Them To <%= link_to 'bkdg.uservoice.com', "http://bkdg.uservoice.com" %>
		</div>
	</div>
	
	<br /><br />
	
</div>


<br />


