<script type="text/javascript" src="/javascripts/show.js"></script>
<script type="text/javascript" src="/javascripts/jquery-ui-1.8rc1.custom.min.js"></script>
<%= stylesheet_link_tag 'show' %>

<div id="mainbar-full">
<div id="showinfo">
	
	<% attending_highlight_helper(@current_user, @shows_that_user_is_attending, @show) %>
	
	<div id = "subheader">
		<b><h3><%= @show.bands.at(0).band_name %> @ <%= capitalize_first_letter_of_each_word(@show.venue.name) %> </h3></b>
	</div>
	
	<div class ="show-date">
		<h2><%=h @show.date.strftime("%A, %b %e %Y") %></h2>
	</div>
	
	<div class="attendingcontainer">
		<div class="attending" id="attending-id-<%= @show.id %>">
			<%= render(:partial => "number_attending", :object => @show.attending)%>
		</div>
		<div class="attendingword" id="attending-word-<%= @show.id %>">Attending</div> 
    </div>	
	
	<div id = "showinformation">
			
		<div class = "show-bandlisting">
			 <% @show.bands.each do |band| %>
				   <div class='band'><%= link_to band.band_name, { :controller => "bands", :action => "index", :id => band.id }, :id => band.id %></div>
			 <% end %>
		    </div>
		
		 <div class="show-address">
			  <div id='showVenueName'><%= link_to capitalize_first_letter_of_each_word(@show.venue.name), :controller => "venues", :action => "show", :id =>@show.venue.id %></div>
			  <div><%=h @show.venue.address %></div>
			  <div><%=h @show.location.city %>, <%=h @show.location.state %></div>
			  <span class="mapit"><a href = <%= map_it(@show) %>>Show On Map</a></span>
		  </div>
	

		<div class = "price-time">
			
			<span id='time'>
			<% if(@show.time != '') %>
				<%= @show.time %>
			<% else %>
				<%= link_to 'Add Show Time', edit_show_path(@show) %>
			<% end %> |
			</span>
			
			<span id='price'>
			<% if(@show.price != nil) %>
				$<%= @show.price.to_i %>
			<% else %>
				<%= link_to 'Add Price', edit_show_path(@show) %>
			<% end %> | </span>
			
			<span id='allages'>
			<% if(@show.allowed_in != nil) %>
				<%= @show.allowed_in %>
			<% end %>
		 	</span>

		  <% if(@show.description != nil) %>
		  	<b>Description:</b>
		  	<%=h @show.description %>
		  <% end %>
		
		</div>

  		<div class = "attendcommentcontainer">
			<div id='clicktoattend' class="attend-recommend attendingtheshow">
					<% if @current_user %>
						<%= link_to_remote attendingTheShow?, {
					   		:url => { :action => "increment_attending_on_show_page", :id => @show.id, :user_id => @current_user.id, :show_detail_page => true }}, :class => "attendincrement", :title => "Click to Attend/Unattend" %>
					<% else %>
					    <%= link_to_remote "Attend", {
					   		:url => { :action => "need_to_be_logged_in", :id => @show.id }}, :class => "attenderror" %>
					<% end %>
			</div> 
				
		</div>
			
		<!-- ><div class="extrausercontrols">
			<%= link_to 'Edit', edit_show_path(@show) %>
		</div> -->

	</div>

	<div id = "show-images">
		<% randomPictures = generate_two_random_band_pictures(@show) %>
		<img src = "<%= @show.bands.at(0).bandpictures.at(randomPictures.at(0)).largesquare %>"><br />
		<img src = "<%= @show.bands.at(0).bandpictures.at(randomPictures.at(1)).largesquare %>"><br />
		<div><%= link_to 'View all ' + @show.bands.at(0).bandpictures.count.to_s + ' pictures', edit_show_path(@show) %></div>
	</div>
	
</div>

<div id = "subheader" style=''>
	<b><h3>Comments</h3></b>
</div>

<div class="showcommentcontainer">
	<div class="comment">
			<span class="comment-counts">
				<%= render(:partial => "comment_count", :locals => {:show => @show }) %>
			</span>
	</div>
	<div class="commentword" id="attending-word-<%= @show.id %>">Comments</div> 
</div>

<div id="commentarea">
	<div class = "comments">
	<% @show.comments.each do |comment| %>
		<%= render(:partial => "single_comment", :locals => { :comment => comment }) %>
	  <% end %>
	<div class="singleComment"></div>
	</div>
	
	<div style='clear:both;'>
	
	<div id = "leaveacomment">
		<div id='somethingToSay'>Do you have something to say?</div>
		<% form_remote_tag :url => { :action => "LeaveComment", :id => @show.id } do %>
			<%= text_area_tag :comment, nil, :rows => 5, :cols => 90, :class =>"resizable" %><br />
			<div class="wmd-preview"></div>
			<br />
			<input name="commit" type="submit" value="Add Comment" />

		<% end %>

		<br /><br />
	</div>
</div>
</div>
