<% content_for :title do %>  <title>BKDG: <%=capitalize_first_letter_of_each_word(@show.bands.at(0).band_name) %> at  <%=capitalize_first_letter_of_each_word(@show.venue.name) %></title> <% end %>
<script type="text/javascript" src="/javascripts/show.js"></script>
<script type="text/javascript" src="/javascripts/jquery-ui-1.8rc1.custom.min.js"></script>
<%= stylesheet_link_tag 'show' %>

<div id="mainbar-full">
<div id="showinfo">
	
	<% attending_highlight_helper(@current_user, @shows_that_user_is_attending, @show) %>
	
	<div id = "subheader">
		<b><h3><%= capitalize_first_letter_of_each_word(@show.bands.at(0).band_name) %> @ <%= capitalize_first_letter_of_each_word(@show.venue.name) %> </h3></b>
	</div>
	
	<div class ="show-date">
		<h2><%=h @show.date.strftime("%A, %b %e %Y") %></h2>
	</div>
	
	<div class="attendingcontainer">
		<div class="attending" id="attending-id-<%= @show.id %>">
			<%= render(:partial => "number_attending", :object => @show.attending)%>
		</div>
		<div class="attendingword" id="attending-word-<%= @show.id %>">Attending</div>
		
    </div>	
	
	<div id = "showinformation">
			
		<div class = "show-bandlisting">
			 <% @show.bands.each do |band| %>
				   <div class='band'><%= link_to capitalize_first_letter_of_each_word(band.band_name), { 
					:controller => "bands", :action => "show", :id => band }, :id => band.id %></div>
			 <% end %>
		    </div>
		
		 <div class="show-address">
			  <span id='showVenueName'><%= link_to capitalize_first_letter_of_each_word(@show.venue.name), 
								:controller => "venues", :action => "show", :id =>@show.venue %>
			</span>
			  <div class='venueAddress'><%=h @show.venue.address %></div>
			  <div class='venueCityState'><%=h @show.location.city %>, <%=h @show.location.state %></div>
			  <span id="mapit"><a href = <%= map_it(@show) %> target="_blank">Show On Map</a></span>
			
		  </div>
	

		<div class = "price-time">
			
			<span id='time'>
				<% if(@show.time != 'UNKNOWN') %>
					<%= @show.time %>
				<% else %>
					<%= link_to 'Add Show Time', edit_show_path(@show, :highlight => "time") %>
				<% end %> |
			</span>
			
			<span id='price'>
				<%= render(:partial => "display_price", :locals => { :show => @show }) %>  | 
			 </span>
			
			<span id='allages'>
			<% if(@show.allowed_in != nil) %>
				<%= @show.allowed_in %>
			<% end %>
		 	</span>

		  <% if(@show.description != nil) %>
		  	<b>Description:</b>
		  	<%=h @show.description %>
		  <% end %>
		
		</div>

  		<div class = "attendcommentcontainer">
			<div id='clicktoattend' class="attend-recommend <%= attending_helper() %>">
					<% if @current_user %>
						<%= link_to_remote attendingTheShow?, {
					   		:url => { :action => "increment_attending_on_show_page", :id => @show.id, :user_id => @current_user.id, :show_detail_page => true }}, 
											:class => "attendincrement", :title => "Click to Attend/Unattend" %>
					<% else %>
						<a class = "attenderror"> <%=  attendingTheShow? %> </a>
					<% end %>
			</div>
		</div>
		
		<div class= "controlContainer">
			
			<span class='EditFlagContainer'><%= link_to 'Edit', edit_show_path(@show) %> | <a>Flag</a> </span>	
			
			<div class='PostedContainer'>
				<div class='postedTime'>posted <%= didwhen(@show.created_at)%></div>
				<div class='commentUserInfo'>
					<div class='gravitar'><%= image_tag @posted_by.gravatar_url(:size => 40) %></div>
					<div class='usernameLink'><%= link_to @posted_by.username, @posted_by %></div>
					<div class='usernamePoints'><%=     @posted_by.points.to_s     %></div>
				</div>
			</div>
			
			<% if(@edited_by != nil) then %>
				<div class='EditedContainer'>
					<div class='postedTime'>edited <%= didwhen(@show.updated_at)%></div>
					<div class='commentUserInfo'>
						<div class='gravitar'><%= image_tag @edited_by.gravatar_url(:size => 40) %></div>
						<div class='usernameLink'><%= link_to @edited_by.username, @posted_by %></div>
						<div class='usernamePoints'><%=     @edited_by.points.to_s     %></div>
					</div>
				</div>
			
			<% end %>
		
		</div>

	</div>

	<% if(@show.bands.at(0).bandpictures.count > 1) %>
		<div id = "show-images">
			<% randomPictures = generate_two_random_band_pictures(@show) %>
			<img src = "<%= @show.bands.at(0).bandpictures.at(randomPictures.at(0)).largesquare %>"><br />
			<img src = "<%= @show.bands.at(0).bandpictures.at(randomPictures.at(1)).largesquare %>"><br />
			<div><%= link_to 'View all ' + @show.bands.at(0).bandpictures.count.to_s + ' pictures', :controller => 'bands', :action => 'pictures', :id => @show.bands.at(0).id %></div>
		</div>
	<% end %>
	
</div>

<div id = "subheader">
	<b><h3>Users Attending</h3></b>
</div>

<div id='userIconContainer'>
	<% @show.users.each do |user| %>
		<div class='singleUser'>
			<%= link_to "<img src ='" + user.gravatar_url(:size => 40) + "'>", {:controller => 'users', :action => 'show', :id => user }, :title => user.username %>
		</div>
	<% end %>
</div>

<div >

<div id = "subheader">
	<b><h3>Comments</h3></b>
</div>

<div class="showcommentcontainer">
	<div class="comment">
			<span class="comment-counts">
				<%= render(:partial => "comment_count", :locals => {:show => @show }) %>
			</span>
	</div>
	<div class="commentword" id="attending-word-<%= @show.id %>">Comments</div> 
</div>

<div id="commentarea">
	<div class = "comments">
	<% @show.comments.each do |comment| %>
		<%= render(:partial => "single_comment", :locals => { :comment => comment }) %>
	  <% end %>
	<div class="singleComment"></div>
	</div>
	
	<div style='clear:both;'>
		
		<div id = "leaveacomment">
			<div id='somethingToSay'>Got something to say?</div>
			<% form_remote_tag :url => { :action => "LeaveComment", :id => @show.id } do %>
				<%= text_area_tag :comment, nil, :rows => 5, :cols => 90, :class =>"resizable" %><br />
				<div class="wmd-preview"></div><br>
				
				<% if @current_user %>
					<input name="commit" type="submit" value="Add Comment" class='post_a_comment'/><br />
				<% else %>
					<a value="Add Comment" class='post_a_comment commenterror'/>Add Comment</a><br />
				<% end %>
			
	
				
			<% end %>	


		<br /><br />
	</div>
</div>
</div>
