var $j = jQuery.noConflict();

var venueFound  = '<%= @venueFound %>';
var nameOfVenue = '<%= @venueName %>';
var locationCity = '<%= @location.city %>';
var locationState = '<%= @location.state %>';
var isPartialMatch = '<%= @isPartialMatch %>';
var possibleVenue  = '<%= @MatchName %>';

$j(document).ready(function()
{
  if(venueFound == "false")
  {
	dehighlightAll();
	
	$j("#VenueErrorContainer").remove();
	
	var errorString = "<div id='VenueErrorContainer' class='venueErrorExplanation'>";
	errorString    += "The venue '<b>"+ nameOfVenue +"</b>' was not found in "+ locationCity +", "+locationState+".<br/>";
	
	if(isPartialMatch == "true")
	{
		errorString    += "Did you mean '"+possibleVenue+"'?  <a id='yes'>Yes</a><br/>";
		errorString    += "Or would you like to <a id='CreateANewVenue'>Create A New Venue?</a></div>";
		
	}else{
		
		errorString    += "Maybe you typed wrong. Or maybe you know something we don't.<br/>";
		errorString    += "Help us out? <a id='CreateANewVenue'>Create A New Venue?</a></div>";
	}
	
	$j("#VenueContainer").after(errorString);
	
	$j("#VenueErrorContainer").fadeIn();
	
	unselectAllInputBoxes();
	
	$j("#CreateANewVenue").click(function(){  
		window.location = "/venues/new";
	});
	
	$j("#yes").click(function(){
		fadeOutErrorContainer();
		$j("#name_of_venue").attr("value",possibleVenue);
	});
	
	$j("#no").click(function(){
		fadeOutErrorContainer();
		$j("#name_of_venue").focus().select();
		
	});
	
  }else{
	
	fadeOutErrorContainer();
	
 }
	
});

function fadeOutErrorContainer()
{
	$j("#VenueErrorContainer").fadeOut();
	
}