<%= stylesheet_link_tag 'login' %>


	 <% form_for @user_session do |form| %>  
	 <div class='errorForm'><%= form.error_messages %></div>

<div class = "login-form">
		
			<div class='PleaseLogIn'>Please Log In</div>
			
			<div class='Email'>
				<span class='EmailLabel'><label for="name">Email </label></span>
				<span><%= form.text_field :email %></span>
			</div>
			
			<div class='Password'>
				<span class='PasswordLabel'><label for="password">Password </label></span>
 				<span><%= form.password_field :password %></span>
			</div>
			
			<div>
				<%= form.submit "Login", :class => "submit" %>
			</div>
			
			<div class='SignUp'>
				<%= link_to 'Don\'t have an account?', new_user_path %>
			</div>
			
			<div class='ResetPassword'>
				<%= link_to 'Reset Password', password_resets_path %>
			</div>
		
	<% end %>
</div>