<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= yield :title %>
  <%= stylesheet_link_tag 'scaffold', 'depot' %>
  <%= javascript_include_tag :defaults, 'jquery-1.4' %>

	<script type="text/javascript" src="http://use.typekit.com/dtg4xhr.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body>

<div id="container">
	
	<% if flash[:notice] -%>
	  <div id= "flashnotice"><%= flash[:notice] %></div>
	<% end -%>
	
	<%= yield :uppermenu %>
	<%= yield :subheader %>

	<div style='width:100%;float:left;'>
		<%= yield %>
	</div>
	
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-15016570-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
